Django==4.1.7
django-cors-headers==3.5.0
django-extensions==2.2.9
django-import-export==3.0.2
django-reversion==3.0.7
djangorestframework==3.12.2
djangorestframework-camel-case==1.1.2
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt
djangorestframework-filters==1.0.0.dev2
django-better-admin-arrayfield==1.4.2
Pillow==8.3.2
psycopg2-binary==2.8.6
psycopg2==2.8.6
python-decouple==3.7